body{
    text-align:center;
    background-image: url("https://birdchadlouis.files.wordpress.com/2013/11/stairs-to-heaven.jpg");
    background-size: 960px;
    
}
p{
    font-size:20px;
}

h1{
    font-size: 60px;
}