#xd{
    width: 600px;
    height: 600px;
    border-radius:50%;
    font-size:40px;
    background-image: url("https://s-media-cache-ak0.pinimg.com/236x/96/3c/68/963c68f218b6b8a69156f4a2904d42f4.jpg");
    background-size: 600px;
}